<div id={@id}>
  <.live_component
    module={TxDashboardWeb.Components.TableComponent}
    id={@id}
    page_params={@page_params}
    columns={@columns}
    rows={@rows}
    target={@id}
  />
</div>
