<div>
  <table id={"table-#{@id}"}>
    <thead>
      <tr>
        <%= for column <- Map.values(@columns) do %>
          <th><%= column %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= for row <- @rows do %>
        <tr id={"row-#{row.id}"}>
          <%= for column <- Map.keys(@columns) do %>
            <td><%= Map.get(row, column) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
