<h1>Balances for <%= @account_number %></h1>

<.live_component
  module={TxDashboardWeb.Balance.Components.BalanceTableComponent}
  id="transactions"
  account_number={@account_number}
  page_params={@page_params}
  columns={@headers}
  rows={@transactions}
/>
